*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

header {
  width: 100%;
  height: 6em;
  border: 1px solid black;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#beer-icon, #beer-mirror-icon {
  position: absolute;
  top: 0;
  padding: .25em;
  height: 3em;
}

#beer-mirror-icon {
  right: 0;
  transform: scaleX(-1);
}

#beer-icon {
  left: 0;
}

header h1, header p {
  margin: 0;
}

.dropdown {
  border: 1px solid black;
  border-radius: .25em;
  cursor: pointer;
  max-width: fit-content;
}

select {
  border: none;
  font-size: inherit;
  background-color: transparent;
  padding: .35rem 0;
}

@media (max-width: 425px) {
  header {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  header {
    font-size: .8rem;
  }
}