*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url("https://images0.westend61.de/0001342738pw/close-up-of-beer-in-glass-EYF01000.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100%;
}

/*** HEADER ***/
header {
  width: 100%;
  height: 6em;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#beer-icon, #beer-mirror-icon {
  position: absolute;
  top: 0;
  padding: .25em;
  height: 3em;
}

#beer-mirror-icon {
  right: 0;
  transform: scaleX(-1);
}

#beer-icon {
  left: 0;
}

header h1, header p {
  margin: 0;
}

.dropdown {
  border-radius: .25em;
  cursor: pointer;
  background-color: rgba(180, 180, 180, 0.5);
  backdrop-filter: blur(10px); /* Applies a blur effect to background */
  display: flex;
  align-items: center;
  font-size: .75em;
}

select {
  border: none;
  font-size: inherit;
  background-color: transparent;
  padding: .35em;
  appearance: none;
  outline: none;
  width: 100%;
}

.dropdown::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  margin-right: .35em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/*** BREWERY CARD ***/

.brewery-card {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  padding: .5em;
  background-color: rgba(180, 180, 180, 0.5);
	backdrop-filter: blur(10px); /* Applies a blur effect to background */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
}

.brewery-card img {
  max-width: 75%;
  align-self: center;
}

/*** MEDIA QUERIES ***/

@media (max-width: 425px) {
  header {
    font-size: 1rem;
  }
  .dropdown {
    width: 100%;
    font-size: .85rem;
  }
}

@media (max-width: 375px) {
  header {
    font-size: .8rem;
  }
}